canvas { background-color: #777; }
#options { position: absolute; float: left; left: 975px; top: 5px; }
#version { position: absolute; color: white; top: 10px; left: 12.5px; }

@font-face {
    font-family: 'Pixelmix';
    src: url('../assets/fonts/pixelmix.ttf');
}